@import '~normalize.css/normalize.css';
@import './base';
@import './media';
@import './fonts';

// custom styles

html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  .game-wrapper{
    text-align: center;
  }
  .game-controls {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    select{
      background: #17232a;
      border-radius: 0.3rem;
      color: white;
      margin-right: 2rem;
    }
    #play-again {
      padding: 1rem;
      background: #304f5e;
      color: white;
      font-size: 1rem;
      border-radius: 0.3rem;
      cursor: pointer;
      &:hover {
        background: #16222A;
      }
    }
  }
  h4{ 
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 0;
  }
}


#game-grid {
  display: inline;
  .row{
      font-size: 0px;
  }
  .col {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0.1rem;
    // border-right: 1px solid #8288af;
    // border-bottom: 1px solid #8288af;
    vertical-align: top;
    color: white;
    font-size: 15px;
    background: #16222A;
    text-align: center;
    line-height: 3.5;
    cursor: pointer;
    &.unrevealed {
      background: #16222A;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      // background: #5b6290;
      &:hover{
        opacity: 0.6;
      }
    }
    &.mine {
      // css color debugger :)
      background: red !important;
      i {
        font-size: 2rem;
        vertical-align: -webkit-baseline-middle;
        // color: red;
      }
      &.flash {
        background: #ff9494;
        i{
          animation: flash 3s forwards;
        }
      }
      &.flashWin{
        background: #89b389;
        i {
          animation: flashWin 3s forwards;
        }
      }
    }
    &.flag{
      background: #89b389;
      i {
        font-size: 2rem;
        vertical-align: -webkit-baseline-middle;
      }
    }
  }
}


@keyframes flash {
  0%, 50%, 100% {
    color: #7d4d4d;
  }
  25%, 75% {
     color: white;
  }
}

@keyframes flashWin {
  0%, 50%, 100% {
    color: #395f39;
  }
  25%, 75% {
     color: white;
  }
}

// media-queries
